<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Joe</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>ESports</li>
    <li>Overwatch</li>
    <li>Pickleball</li>
    <li>Smash Ultimate</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Tableau, Clari, Power BI</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://jhs.canyonsdistrict.org/">
      <li>Jordan High School</li>
    </a>
    <!--Link-->
    <a href="https://www.usu.edu/">
      <li>USU</li>
    </a>
  </ul>

  </ul>
</div>
<div class="right"></div>
<div id="footer">
 <a href='/'>Go to Home</a>